language: node_js

node_js:
  - "8"

before_install:
  - npm i -g npm@5.7.0

install:
  - npm ci

script:
  - npm run cloc
  - npm run build-prod

deploy:
  provider: pages
  local-dir: dist
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
